:root {
  --black: #2b2b2b;
  --white: #ffffff;
  --active-input-coin-box-shadow: #ac1b1b;
  --active-input-coin-box-shadow-hover: #fff;
  --active-input-coin-bg: brown;
  --active-input-coin-bg-hover: rgb(235, 82, 82);
  --orange: #a52a2a;
  --bisque: bisque;
  --dark: #000;
  --blue: rgb(42, 42, 233);
  --moon: rgba(89, 136, 210, 0.5);
  --line-light: #c2ae37;
  --line-dark: #c5352e;
  --line-moon: #fff;
  --title-moon: #dacfcf;
  --form-light-color: #d3c6c6;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body--light {
  background-color: rgb(242, 226, 183);
}
.body--dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.body--moon {
  background-color: rgba(12, 36, 195, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
}

.convert-form__output-item {
  outline: none;
  margin-left: auto;
  margin-right: 12px;
}

.convert-form__output {
  cursor: default;
}

button {
  background-color: transparent;
  border: none;
}

button:active {
  outline: none;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 3px var(--white);
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.convert-form {
  position: relative;
  max-width: 693px;
  transition: all 0.3s ease-in;
  margin: 20px;
}

.convert-form--dark {
  background-color: var(--black);
}

.convert-form--light {
  background-color: rgba(0, 139, 139, 0.7);
}

.convert-form--moon {
  background-image: linear-gradient(to right bottom, #7d5f5f, darkblue);
}

.convert-form__title {
  font-weight: 700;
  padding: 30px;
  padding-top: 80px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
}

.convert-form__title--dark {
  color: var(--white);
}

.convert-form__title--light {
  color: #084740;
}

.convert-form__title--moon {
  color: var(--title-moon);
}

.convert-form__content {
  padding: 25px;
  padding-top: 0;
}

.convert-form__courses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-radius: 5px;
}

.convert-form__courses--dark {
  background-image: linear-gradient(to right bottom, #ae0800, #000);
}

.convert-form__courses--light {
  background-image: linear-gradient(to right bottom, #597d73, darkcyan);
}

.convert-form__courses--moon {
  background-image: linear-gradient(to right bottom, rgb(6 6 253), #801bff);
  box-shadow: 0px 0px 5px var(--black);
}

.convert-form__inputs {
  margin-right: 20px;
}

.convert-form__input {
  transition: all 0.3s ease-in;
}

.convert-form__input,
.convert-form__output {
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 15px;
  padding-left: 10px;
  /* font-size: 15px; */
}

.convert-form__input--focus-light {
  outline: 1.5px solid #084740;
  box-shadow: 0 0 5px #084740;
}

.convert-form__input--focus-dark {
  outline: 1.5px solid var(--orange);
  box-shadow: 0 0 5px var(--orange);
}

.convert-form__input--focus-moon {
  outline: 1.5px solid #20b2aa;
  box-shadow: 0 0 5px #20b2aa;
}

.convert-form__outputs,
.convert-form__inputs {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.input-block--light {
  background-color: darkcyan;
  transition: box-shadow 0.2s ease-in;
}

.input-block--light:hover {
  box-shadow: 0 0 7px var(--black);
}

.input-block--dark {
  background-color: #1a1a1b;
  transition: box-shadow 0.2s ease-in;
}

.input-block--dark:hover {
  box-shadow: 0px 0px 7px var(--orange);
}

.input-block--moon {
  background-color: darkslateblue;
  transition: box-shadow 0.2s ease-in;
}

.input-block--moon:hover {
  box-shadow: 0 0 7px var(--black);
}

.convert-form__output-item {
  height: 10px;
  font-size: 13px;
}

.convert-form__form-control {
  font-size: 14px;
  color: var(--white);
  background-color: var(--black);
  padding: 10px;
  border-radius: 20px 5px;
}

.convert-form__form-control--active {
  color: var(--black);
  background-color: var(--white);
}

.form-control__option {
  font-size: 14px;
  color: var(--black);
  background-color: var(--white);
}

.form-input__input {
  max-width: 260px;
  margin-bottom: 30px;
}

.form-input__output {
  max-width: 280px;
  width: 100%;
  margin-bottom: 30px;
}

.form-input__title,
.form-output__title {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.form-input__coin,
.form-output__coin {
  font-weight: 300;
  font-style: italic;
  color: var(--white);
}

.course-item {
  padding: 20px;
}

.course-item__title {
  color: var(--white);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.course-item__value {
  font-size: 30px;
  font-weight: 400;
}

.course-item__value.top {
  color: rgb(255, 51, 51);
}

.course-item__value.bottom {
  color: rgb(19, 189, 61);
}

.coins {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.coins__input {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}

.coins__output {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.coins__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  cursor: pointer;
  padding: 7px 12px;
  color: var(--white);
  transition: all 0.2s ease-in;
}

.coins__item--light {
  box-shadow: 0 0 10px #084740;
}

.coins__item--dark {
  box-shadow: 0 0 10px var(--orange);
}

.coins__item--moon {
  box-shadow: 0 0 10px #20b2aa;
}

.input-coins__item + .input-coins__item {
  margin-left: 20px;
}

.output-coins__item + .output-coins__item {
  margin-left: 20px;
}

.input-coins__item:hover {
  box-shadow: 0 0 1px var(--active-input-coin-box-shadow-hover);
  /* background-color: var(--active-input-coin-bg-hover); */
}

.output-coins__item:hover {
  box-shadow: 0 0 1px var(--active-input-coin-box-shadow-hover);
  /* background-color: var(--active-input-coin-bg-hover); */
}

.coins__item + .coins__item {
  margin-left: 20px;
}

.input-coin--active-light,
.output-coin--active-light {
  background-color: #084740;
  box-shadow: 0 0 10px #084740;
}

.input-coin--active-dark,
.output-coin--active-dark {
  box-shadow: 0 0 10px var(--active-input-coin-box-shadow);
  background-color: var(--active-input-coin-bg);
}

.input-coin--active-moon,
.output-coin--active-moon {
  background-color: #20b2aa;
  box-shadow: 0 0 10px #20b2aa;
}

.convert-form__items {
  display: flex;
  justify-content: space-between;
}

.convert-form__inputs,
.convert-form__outputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.output-coins__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-coins__output-btn {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 13px;
  line-height: 0.8;
  color: var(--white);
  max-width: 110px;
  margin-right: 12px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.output-coins__output-btn--light {
  background-color: #084740;
  box-shadow: 0px 0 5px #084740;
}

.output-coins__output-btn--dark {
  background-color: var(--orange);
  box-shadow: 0px 0 5px var(--orange);
}

.output-coins__output-btn--moon {
  background-color: #20b2aa;
  box-shadow: 0px 0 5px #20b2aa;
}

.output-coins__output-btn--dark:hover {
  background-color: rgba(165, 42, 42, 0.8);
  box-shadow: 0 0 7px var(--dark);
}

.output-coins__output-btn--light:hover {
  background-color: rgba(8, 71, 64, 0.8);
  box-shadow: 0 0 7px var(--white);
}

.output-coins__output-btn--moon:hover {
  background-color: rgba(32, 178, 170, 0.8);
  box-shadow: 0 0 7px var(--white);
}

#result {
  max-width: 140px;
}

.lang-bar {
  position: absolute;
  right: 30px;
  top: 20px;
}

.lang-bar__btn {
  cursor: pointer;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  padding: 10px;
  width: 45px;
  transition: box-shadow 0.2s ease-in;
}

.lang-bar__btn:hover {
  box-shadow: 0 0 10px var(--white);
}

.lang-bar__btn:first-child {
  border-radius: 30px 0 0 30px;
  padding-right: 4px;
}

.lang-bar__btn:last-child {
  border-radius: 0 30px 30px 0;
  padding-left: 4px;
}

.lang-bar__btn--light:first-child {
  background-color: dimgrey;
}

.lang-bar__btn--light:last-child {
  background-color: darkcyan;
}

.lang-bar__btn--dark:first-child {
  background-color: var(--dark);
}

.lang-bar__btn--dark:last-child {
  background-color: var(--orange);
}

.lang-bar__btn--moon:first-child {
  background-color: #6495ed;
}

.lang-bar__btn--moon:last-child {
  background-color: lightseagreen;
}

.switcher-theme {
  position: absolute;
  left: 30px;
  top: 20px;
}

.switcher-theme__btn {
  font-family: "Open Sans", sans-serif;
}

.switcher-theme__open {
  position: relative;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 8px 15px;
  padding-right: 35px;
  color: var(--white);

  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.switcher-theme__open:hover {
  opacity: 0.8;
}

.switcher-theme__open--light {
  background-color: #2a90a5;
}

.switcher-theme__open--dark {
  background-color: var(--orange);
}

.switcher-theme__open--moon {
  background-color: cornflowerblue;
}

.switcher-theme__open::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  width: 15px;
  height: 15px;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  transition: transform 0.3s ease-in;
}

.switcher-theme__open--active::after {
  transform: translateY(-50%) rotate(90deg);
}

.scheme-item__btn {
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  width: 100%;
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  padding: 8px;
  line-height: 1;
}

.scheme-item__btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;

  transition: width 0.2s ease-in;
}

.scheme-item__btn--light::after {
  background-color: rgba(41, 167, 167, 0.3);
}

.scheme-item__btn--dark::after {
  background-color: rgba(12, 23, 23, 0.3);
}

.scheme-item__btn--moon::after {
  background-color: rgba(66, 24, 143, 0.3);
}

.scheme-item__btn:hover::after {
  width: 100%;
}

.scheme-item__btn--active::after {
  width: 100%;
}

.scheme-list {
  transition: all 0.3s ease-in;
  border: 1px solid var(--black);
  position: absolute;
  width: 100%;
  top: 34px;
  left: 0;
}

.scheme-list__item {
  border-bottom: 1px solid var(--dark);
}

.scheme-list__item:last-child {
  border-bottom: none;
}

/* helpers */
.vhidden {
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.hidden {
  display: none;
}

/* preloader */

.preloader-page {
  background-color: rgba(255, 255, 255);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 7000;
}

.preloader-page::before {
  content: "";
  width: 220px;
  height: 220px;
  background-image: url("../images/coin-flip-preloader.gif");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.preloader-page.done {
  display: none;
}

/* Media Requests */

@media (max-width: 768px) {
  .lang-bar__btn {
    font-size: 10px;
    padding: 7px;
    width: 40px;
  }
  .lang-bar {
    right: 12px;
    top: 12px;
  }
  .switcher-theme__open {
    font-size: 12px;
    left: 12px;
    top: 12px;
    padding: 5px 10px;
    padding-right: 35px;
    border-radius: 0 5px 5px 5px;
  }
  .switcher-theme__open::after {
    background-size: 13px 13px;
    right: 4px;
  }
  .switcher-theme {
    width: 100%;
    left: 0;
    top: 0;
  }
  .scheme-list {
    top: 50px;
  }

  .convert-form__courses {
    max-width: 470px;
    margin: 0 auto 50px;
  }

  .convert-form__title {
    font-size: 21px;
  }
  .course-item__title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .course-item__value {
    font-size: 24px;
  }

  .course-item {
    padding: 10px;
  }
}

.convert-form__input {
  max-width: 120px;
}
.convert-form__input::placeholder {
  font-size: 10px;
}

@media (max-width: 760px) {
  .convert-form__items {
    flex-direction: column;
    align-items: center;
  }
  .convert-form__inputs {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .convert-form__inputs,
  .convert-form__outputs {
    max-width: 470px;
  }
}

@media (max-width: 600px) {
  .scheme-item__btn {
    font-size: 12px;
  }
  .form-input__title,
  .form-output__title {
    font-size: 15px;
  }

  .form-input__coin,
  .form-output__coin {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .coins__item {
    padding: 5px 8px;
    font-size: 13px;
  }
  .coins__item + .coins__item {
    margin-left: 13px;
  }

  .output-coins__output-btn {
    font-size: 11px;
  }

  .convert-form__input,
  .convert-form__output {
    padding: 12px;
    padding-left: 8px;
    font-size: 12px;
  }

  .convert-form__input {
    max-width: 71%;
  }
}

@media (max-width: 450px) {
  .course-item__title {
    font-size: 18px;
  }
  .course-item__value {
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  #result {
    max-width: 107px;
  }
}
@media (max-width: 400px) {
  .scheme-item__btn {
    font-size: 10px;
  }
  .convert-form {
    margin: 0;
    min-height: 100vh;
  }
  .container {
    padding: 0;
  }
}

@media (max-width: 390px) {
  .course-item__title {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .convert-form__content {
    padding: 10px;
    padding-top: 0;
  }
  .course-item__title {
    margin-bottom: 9px;
  }
}

@media (max-width: 325px) {
  .course-item {
    padding: 5px;
  }
}

@media (max-width: 320px) {
  #result {
    margin-right: 10px;
  }
  .output-coins__footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
  .convert-form__output-item {
    margin-right: auto;
    margin-left: 0;
  }
  .convert-form__title {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .course-item__title {
    font-size: 14px;
  }
}

.output-coins__sign-value,
.input-coins__sign-value {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 1px dashed var(--white);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  flex-shrink: 0;
  animation: rotation 3s ease-in alternate infinite;
}

.result-box {
  display: flex;
}
.input-box {
  display: flex;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(10deg)
  }
  50% {
    transform: rotate(0deg)
  }
  75% {
    transform: rotate(-10deg)
  }
}
