body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.convert-form__output-item {
  outline: none;
}

.convert-form__output {
  cursor: default;
}

:root {
  --black: #2b2b2b;
  --white: #ffffff;
  --active-input-coin-box-shadow: #ac1b1b;
  --active-input-coin-box-shadow-hover: #fff;
  --active-input-coin-bg: brown;
  --active-input-coin-bg-hover: rgb(235, 82, 82);
  --active-output-coin-box-shadow: #26ce0f;
  --active-output-coin-box-shadow-hover: #fff;
  --active-output-coin-bg: #26ce0f;
  --active-output-coin-bg-hover: #68c95c;
  --orange: #A52A2A;
  --bisque: bisque;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.convert-form {
  width: 693px;
  background-color: var(--black);
}

.convert-form__title {
  padding: 30px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.convert-form__content {
  padding: 25px;
  padding-top: 0;
}

.convert-form__courses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.convert-form__inputs {
  background-color: #1a1a1b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.convert-form__outputs {
  background-color: #1a1a1b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.convert-form__output-item {
  height: 10px;
  padding: 10px;
  font-size: 18px;
}

.convert-form__form-control {
  font-size: 14px;
  color: var(--white);
  background-color: var(--black);
  padding: 10px;
  border-radius: 20px 5px;
}

.form-control__option {
  font-size: 14px;
  color: var(--black);
  background-color: var(--white);
}

.convert-form__form-control--active {
  color: var(--black);
  background-color: var(--white);
}

.form-input__input {
  max-width: 260px;
  margin-bottom: 30px;
}

.form-input__output {
  max-width: 280px;
  width: 100%;
  margin-bottom: 30px;
}

.form-input__title {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.form-input__coin {
  color: var(--white);
}

.course-item {
  padding: 20px;
}

.courses__item + .courses__item {
  margin-left: 40px;
}

.course-item__title {
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.course-item__value {
  font-size: 30px;
  font-weight: 300;
}

.course-item__value.top {
  color: rgb(255, 51, 51);
}

.course-item__value.bottom {
  color: rgb(19, 189, 61);
}

.coins {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.coins__input {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}

.coins__output {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.input-coins__item {
  cursor: pointer;
  padding: 7px 12px;
  box-shadow: 0 0 10px var(--orange);
  color: var(--white);
  transition: all 0.2s ease-in;
}

.input-coins__item + .input-coins__item {
  margin-left: 20px;
}

.output-coins__item {
  cursor: pointer;
  padding: 7px 12px;
  box-shadow: 0 0 10px var(--orange);
  color: var(--bisque);
  transition: all 0.2s ease-in;
}

.output-coins__item + .output-coins__item {
  margin-left: 20px;
}

.input-coins__item:hover {
  box-shadow: 0 0 1px var(--active-input-coin-box-shadow-hover);
  /* background-color: var(--active-input-coin-bg-hover); */
}


.output-coins__item:hover {
  box-shadow: 0 0 1px var(--active-input-coin-box-shadow-hover);
  /* background-color: var(--active-input-coin-bg-hover); */
}

.coins__item + .coins__item {
  margin-left: 20px;
}

.input-coin--active {
  box-shadow: 0 0 10px var(--active-input-coin-box-shadow);
  background-color: var(--active-input-coin-bg);
}

.output-coin--active {
  box-shadow: 0 0 10px var(--active-input-coin-box-shadow);
  background-color: var(--active-input-coin-bg);
}

.convert-form__items {
  display: flex;
  justify-content: space-between;
}

.convert-form__inputs,
.convert-form__outputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.output-coins__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-coins__output-btn {
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--orange);
  box-shadow: 0px 0 5px var(--orange);
  max-width: 110px;
  margin-right: 12px;
}

#result {
  max-width: 100px;
}
